{# templates/materiel_logiciel/supprimer.html.twig #}
{% set title = "Supprimer le logiciel du matériel " ~ materiel.nom %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <p>
                                Etes-vous certain de vouloir supprimer le logiciel suivant pour le matériel <strong>{{ materiel.nom }}</strong> ?
                            </p>
                            <p>
                                Logiciel : <strong>{{ materiel_logiciel.logiciel.nom }}</strong>
                                <br />
                                Installé le : <strong>{{ materiel_logiciel.installeLe is not empty ? materiel_logiciel.installeLe|date('d/m/Y') : '' }}</strong>
                                <br />
                                Clé de licence : <strong>{{ materiel_logiciel.cleLicence }}</strong>
                            </p>
                            <form action="{{ path('base_materiel_materiel_logiciel_supprimer', { 'slugMateriel': materiel.slug, 'id': materiel_logiciel.id }) }}" method="post">
                                <a href="{{ path('base_materiel_materiel_visualiser', { 'slug': materiel.slug }) }}" class="btn btn-default">
                                    <i class="fa fa-caret-left"></i>
                                    Retour
                                </a>
                                <input type="submit" value="Supprimer" class="btn btn-danger" />
                                {{ form_rest(form) }}
                            </form>
                        </div>
                    </div>
{% endblock %}
