{# templates/local/locaux.html.twig #}
{% set title = 'Locaux référencés' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row mb20">
                                <div class="col-sm-6">
                                    <div class="toolbar">
                                        <a class="btn btn-info" href="{{ path('base_materiel_local_ajouter') }}">
                                            <i class="fa fa-plus mr10"></i>
                                            Ajouter un local
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb0">
                                    <thead>
                                        <tr>
                                            <th>Bâtiment</th>
                                            <th>Local</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for local in locaux %}
                                        <tr>
                                            <td>{{ local.batiment.nom }}</td>
                                            <td>{{ local.nom }}</td>
                                            <td>
                                                <a class="btn btn-sm btn-default" href="#">
                                                    Editer
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="#">
                                                    Supprimer
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="3">
                                                Aucun local référencé dans la base.
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
