{# templates/modele/modeles.html.twig #}
{% set title = 'Modèles référencés' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row mb20">
                                <div class="col-sm-6">
                                    <div class="toolbar">
                                        <a class="btn btn-success" href="{{ path('base_materiel_modele_ajouter') }}">
                                            <i class="fa fa-plus mr10"></i>
                                            Ajouter un modèle
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered mb0">
                                    <thead>
                                    <tr>
                                        <th>Fabricant</th>
                                        <th>Modèle</th>
                                        <th>Type de matériel</th>
                                        <!--<th>Image</th>-->
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
{% for modele in modeles %}
                                        <tr>
                                            <td>{{ modele.fabricant.nom }}</td>
                                            <td>{{ modele.nom }}</td>
                                            <td>{{ modele.typeMateriel.libelle }}</td>
{#
                                            <td>
{% if modele.nomFichierImage is not empty %}
                                                <img src="{{ vich_uploader_asset(modele, 'image') }}" alt="{{ modele.nom }}" style="display: block; max-height: 75px;" />
{% endif %}
                                            </td>
#}
                                            <td>
                                                <a class="btn btn-sm btn-primary" href="{{ path('base_materiel_modele_editer', { 'id': modele.id }) }}">
                                                    Editer
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="{{ path('base_materiel_modele_supprimer', { 'id': modele.id }) }}">
                                                    Supprimer
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="4">
                                                Aucun modèle référencé dans la base.
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
