{# templates/core/tableau_bord.html.twig #}
{% set title = 'Tableau de bord' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget bg-white">
                                <div class="widget-icon bg-dark pull-left fa fa-archive"></div>
                                <div class="overflow-hidden">
                                    <span class="widget-title">{{ nb_materiels }}</span>
                                    <span class="widget-subtitle">matériels référencés</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget bg-white">
                                <div class="widget-icon bg-green pull-left fa fa-save"></div>
                                <div class="overflow-hidden">
                                    <span class="widget-title">{{ nb_sauvegardes }}</span>
                                    <span class="widget-subtitle">sauvegardes référencées</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget bg-white">
                                <div class="widget-icon bg-blue pull-left fa fa-user"></div>
                                <div class="overflow-hidden">
                                    <span class="widget-title">{{ nb_utilisateurs }}</span>
                                    <span class="widget-subtitle">utilisateurs enregistrés</span>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
