{# templates/materiel/materiels.html.twig #}
{% set title = 'Matériels référencés' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row mb20">
                                <div class="col-sm-6">
                                    <div class="">
                                        <a class="btn btn-success" href="{{ path('base_materiel_materiel_ajouter') }}">
                                            <i class="fa fa-plus mr10"></i>
                                            Ajouter un matériel
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Type</th>
                                            <th>Fabricant</th>
                                            <th>Modèle</th>
                                            <th>Description courte</th>
                                            <th>Etat</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for materiel in materiels %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('base_materiel_materiel_visualiser', { 'slug': materiel.slug }) }}">
                                                    {{ materiel.nom }}
                                                </a>
                                            </td>
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.typeMateriel.libelle }}
{% else %}
                                                <code>N/C</code>
{% endif %}
                                            </td>
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.fabricant.nom }}
{% else %}
                                                <code>N/C</code>
{% endif %}
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.nom }}
{% else %}
                                                <code>N/C</code>
{% endif %}
                                            </td>
                                            <td>{{ materiel.descriptionCourte }}</td>
                                            <td>
                                                {{ materiel.etat.libelle }}
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default" href="{{ path('base_materiel_materiel_visualiser', {'slug': materiel.slug}) }}">
                                                    <i class="fa fa-eye"></i>
                                                    <!--Voir-->
                                                </a>
                                                <a class="btn btn-sm btn-primary" href="{{ path('base_materiel_materiel_editer', {'slug': materiel.slug}) }}">
                                                    <i class="fa fa-pencil"></i>
                                                    <!--Editer-->
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="{{ path('base_materiel_materiel_supprimer', {'slug': materiel.slug}) }}">
                                                    <i class="fa fa-trash"></i>
                                                    <!--Supprimer-->
                                                </a>
{% if materiel.configurationsIp is not empty %}
                                                <!--
                                                <a class="btn btn-sm btn-info" href="#">
                                                    <!--<i class="fa fa-send mr5"></i>
                                                    Ping ?
                                                </a>
                                                -->
{% endif %}
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="7">
                                                Aucun matériel référencé dans la base.
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
