{# templates/materiel/recherche.html.twig #}
{% set title = "Recherche rapide d'un matériel" %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
{% include 'materiel/_form_recherche_rapide.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
{% if materiels is defined %}
                    <div class="panel mb0">
                        <div class="panel-heading">
                            {{ materiels|length }} correspondance(s) trouvée(s).
                        </div>
{% if materiels|length != 0 %}
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered mb0">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Type</th>
                                            <th>Modèle</th>
                                            <th>Description courte</th>
                                            <th>Adresse(s) IPv4 / Masque(s) sous-réseau</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for materiel in materiels %}
                                        <tr>
                                            <td>{{ materiel.nom }}</td>
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.typeMateriel.libelle }}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% if materiel.modele is not empty %}
{% if materiel.modele.nomFichierImage is not empty %}
                                                <figure style="display: flex; flex-direction: column; align-items: center;">
                                                    <a href="{{ vich_uploader_asset(materiel.modele, 'image') }}" title="Cliquez pour agrandir l'image">
                                                        <img src="{{ vich_uploader_asset(materiel.modele, 'image') }}" alt="{{ materiel.modele.nomFichierImage }}" style="max-height: 45px;" />
                                                    </a>
                                                    <figcaption style="margin-top: 5px; font-size: 11px;">
                                                        {{ materiel.modele.fabricant.nom }} - {{ materiel.modele.nom }}
                                                    </figcaption>
                                                </figure>
{% else %}
                                                {{ materiel.modele.fabricant.nom }} - {{ materiel.modele.nom }}
{% endif %}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% if materiel.description is not empty %}
                                                {{ materiel.description|length <= 25 ? materiel.description : materiel.description|slice(0, 25) ~ '...' }}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% for configuration_ip in materiel.configurationsIp %}
                                                {{ configuration_ip.adresseIpV4 ~ ' / ' ~ configuration_ip.masqueSousReseau }}{{ loop.last ? '' : '<br />' }}
{% else %}
                                                <code> n/c </code>
{% endfor %}
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default" href="{{ path('base_materiel_materiel_visualiser', { 'slug': materiel.slug }) }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Visualiser">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-sm btn-primary" href="{{ path('base_materiel_materiel_editer', { 'slug': materiel.slug }) }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Editer">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="{{ path('base_materiel_materiel_supprimer', { 'slug': materiel.slug }) }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Supprimer">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="6">Aucun résultat.</td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
{% endif %}
                        </div>
{% endif %}
                    </div>
{% endblock %}
