{# templates/materiel/recherche.html.twig #}
{% set title = "Recherche rapide d'un matériel" %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
{% include 'materiel/recherche_rapide_form.html.twig' %}
                                </div>
                            </div>
{% if materiels is defined %}
                            <div class="table-responsive mt20">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Type</th>
                                            <th>Fabricant</th>
                                            <th>Modèle</th>
                                            <th>Description courte</th>
                                            <th>Adresse(s) IPv4 / Masque(s) sous-réseau</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for materiel in materiels %}
                                        <tr>
                                            <td>{{ materiel.nom }}</td>
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.typeMateriel.libelle }}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.fabricant.nom }}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% if materiel.modele is not empty %}
                                                {{ materiel.modele.nom }}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% if materiel.description is not empty %}
                                                {{ materiel.description|length <= 25 ? materiel.description : materiel.description|slice(0, 25) ~ '...' }}
{% else %}
                                                <code> n/c </code>
{% endif %}
                                            </td>
                                            <td>
{% for configuration_ip in materiel.configurationsIp %}
                                                {{ configuration_ip.adresseIpV4 ~ ' / ' ~ configuration_ip.masqueSousReseau }}{{ loop.last ? '' : '<br />' }}
{% else %}
                                                <code> n/c </code>
{% endfor %}
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default" href="{{ path('base_materiel_materiel_visualiser', { 'slug': materiel.slug }) }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Visualiser">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="7">Aucun résultat.</td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
{% endif %}
                        </div>
                    </div>
{% endblock %}
