{# templates/materiel/visualiser.html.twig #}
{% set title = "Visualisation d'un matériel" %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block stylesheets %}
        <style>
            .col-form-label {
                font-weight: bold;
            }

            code {
                color: #0A0909;
                font-size: inherit;
            }
        </style>
{% endblock %}

{% block body %}
                    <div class="mb20">
                        <a class="btn btn-default" href="{{ path('base_materiel_materiels') }}">
                            <i class="fa fa-caret-left"></i>
                            Retour
                        </a>
                    </div>
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            <h3>Visualisation du matériel {{ materiel.nom }}</h3>
                            Ajouté le {{ materiel.ajouteLe|date('d/m/Y \\à H\\hi') }}
                            &middot;
                            {{ materiel.modifieLe is not empty ? 'Modifié le ' ~ materiel.modifieLe|date('d/m/Y \\à H\\hi') : 'Non modifié' }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <span class="col-lg-6 col-form-label text-xl-right">Type :</span>
                                                <div class="col-lg-6">
                                                    <span class="form-control-plaintext">
{% if materiel.modele is not empty %}
                                                        {{ materiel.modele.typeMateriel.libelle }}
{% else %}
                                                        <code> N/C </code>
{% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <span class="col-lg-6 col-form-label text-xl-right">Fabricant :</span>
                                                <div class="col-lg-6">
                                                    <span class="form-control-plaintext">
{% if materiel.modele is not empty %}
                                                        {{ materiel.modele.fabricant.nom }}
{% else %}
                                                        <code> N/C </code>
{% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <span class="col-lg-6 col-form-label text-xl-right">Modèle :</span>
                                                <div class="col-lg-6">
                                                    <span class="form-control-plaintext">
{% if materiel.modele is not empty %}
                                                        {{ materiel.modele.nom }}
{% else %}
                                                        <code> N/C </code>
{% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Description :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.description is not empty %}
                                                {{ materiel.description|nl2br }}
{% else %}
                                                <code> N/C </code>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Acheté le :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.acheteLe is not empty %}
                                                {{ materiel.acheteLe|date("d/m/Y") }}
{% else %}
                                                <code> N/C </code>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Numéro de série :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.numeroSerie is not empty %}
                                                {{ materiel.numeroSerie }}
{% else %}
                                                <code> N/C </code>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Antivirus installé :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.antivirusInstalle %}
                                                <span style="color: mediumseagreen;">
                                                    <i class="fa fa-check"></i>
                                                    Oui
                                                </span>
{% else %}
                                                <span style="color: darkred;">
                                                    <i class="fa fa-times"></i>
                                                    Non
                                                </span>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Est mis à jour via WSUS (Windows Server Update Services) :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.estMajViaWsus %}
                                                <span style="color: mediumseagreen;">
                                                    <i class="fa fa-check"></i>
                                                    Oui
                                                </span>
{% else %}
                                                <span style="color: darkred;">
                                                    <i class="fa fa-times"></i>
                                                    Non
                                                </span>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Est référencé dans la GLPI (Gestion Libre de Parc Informatique) :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.estReferenceGlpi %}
                                                <span style="color: mediumseagreen;">
                                                    <i class="fa fa-check"></i>
                                                    Oui
                                                </span>
{% else %}
                                                <span style="color: darkred;">
                                                    <i class="fa fa-times"></i>
                                                    Non
                                                </span>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Est actif sur le réseau :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.estActifReseau %}
                                                <span style="color: mediumseagreen;">
                                                    <i class="fa fa-check"></i>
                                                    Oui
                                                </span>
{% else %}
                                                <span style="color: darkred;">
                                                    <i class="fa fa-times"></i>
                                                    Non
                                                </span>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Est une pièce de rechange :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.estPieceRechange %}
                                                <span style="color: mediumseagreen;">
                                                    <i class="fa fa-check"></i>
                                                    Oui
                                                </span>
{% else %}
                                                <span style="color: darkred;">
                                                    <i class="fa fa-times"></i>
                                                    Non
                                                </span>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <span class="col-lg-6 col-form-label text-xl-right">Domaine :</span>
                                        <div class="col-lg-6">
                                            <span class="form-control-plaintext">
{% if materiel.domaine is not empty %}
                                                {{ materiel.domaine.nom }}
{% else %}
                                                <code> N/C </code>
{% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row no-margin">
                                        <div class="table-responsive mb20">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Bâtiment</th>
                                                        <th>Local</th>
                                                        <th>Emplacement</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
{% if materiel.emplacement is not empty %}
                                                    <tr>
                                                        <td>{{ materiel.emplacement.local.batiment.nom }}</td>
                                                        <td>{{ materiel.emplacement.local.nom }}</td>
                                                        <td>{{ materiel.emplacement.nom }}</td>
                                                    </tr>
{% else %}
                                                    <tr>
                                                        <td class="text-center" colspan="3">
                                                            <code> N/C </code>
                                                        </td>
                                                    </tr>
{% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row no-margin">
                                        <div class="table-responsive mb20">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Système d'exploitation</th>
                                                        <th>Installé le</th>
                                                        <th>Clé de licence</th>
                                                        <th>ProductID</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
{% for materielSystemeExploitation in materiel.materielSystemesExploitation %}
                                                    <tr>
                                                        <td>{{ materielSystemeExploitation.systemeExploitation.nom }}</td>
                                                        <td>{{ materielSystemeExploitation.dateInstallation|date('d/m/Y') }}</td>
                                                        <td>{{ materielSystemeExploitation.cleLicence }}</td>
                                                        <td>{{ materielSystemeExploitation.productId }}</td>
                                                        <td>
                                                            <a class="btn btn-sm btn-default" href="#">
                                                                <i class="fa fa-pencil"></i>
                                                                Editer
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" href="#">
                                                                <i class="fa fa-trash"></i>
                                                                Supprimer
                                                            </a>
                                                        </td>
                                                    </tr>
{% else %}
                                                    <tr>
                                                        <td class="text-center" colspan="5">Aucun système d'exploitation installé sur ce matériel.</td>
                                                    </tr>
{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row no-margin">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Logiciel</th>
                                                    <th>Installé le</th>
                                                    <th>Clé de licence</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
{% for materielLogiciel in materiel.materielLogiciels %}
                                                    <tr>
                                                        <td>{{ materielLogiciel.logiciel.nom }}</td>
                                                        <td>{{ materielLogiciel.dateInstallation|date('d/m/Y') }}</td>
                                                        <td>{{ materielLogiciel.cleLicence }}</td>
                                                        <td>
                                                            <a class="btn btn-sm btn-default" href="#">
                                                                <i class="fa fa-pencil"></i>
                                                                Editer
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" href="#">
                                                                <i class="fa fa-trash"></i>
                                                                Supprimer
                                                            </a>
                                                        </td>
                                                    </tr>
{% else %}
                                                    <tr>
                                                        <td class="text-center" colspan="4">Aucun logiciel installé sur ce matériel.</td>
                                                    </tr>
{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
