{# templates/utilisateur/utilisateurs.html.twig #}
{% set title = 'Utilisateurs' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row mb20">
                                <div class="col-sm-6">
                                    <div class="toolbar">
                                        <a class="btn btn-success" href="#">
                                            <i class="fa fa-plus mr10"></i>
                                            Nouvel utilisateur
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered mb0">
                                    <thead>
                                    <tr>
                                        <th>Nom d'utilisateur</th>
                                        <th>Email</th>
                                        <th>Nom complet</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
{% for utilisateur in utilisateurs %}
                                        <tr>
                                            <td>
                                                {{ utilisateur.gravatar|raw }}
                                                {{ utilisateur.username }}
                                            </td>
                                            <td>{{ utilisateur.email }}</td>
                                            <td>{{ utilisateur.prenom ~ " " ~ utilisateur.nom }}</td>
                                            <td>
                                                <a class="btn btn-sm btn-default" href="#">
                                                    Voir
                                                </a>
                                                <a class="btn btn-sm btn-primary" href="#">
                                                    Editer
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="#">
                                                    Supprimer
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="4">
                                                Aucun utilisateur.
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
