{# templates/fabricant/liste.html.twig #}
{% set title = 'Liste des fabricants référencés' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row mb20">
                                <div class="col-sm-6">
                                    <div class="toolbar">
                                        <a class="btn btn-info" href="{{ path('base_materiel_fabricant_nouveau') }}">
                                            <i class="fa fa-plus mr10"></i>
                                            Ajouter un fabricant
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
{% for fabricant in fabricants %}
                                        <tr>
                                            <td>{{ fabricant.id }}</td>
                                            <td>{{ fabricant.nom }}</td>
                                            <td>
                                                <a class="btn btn-sm btn-default" href="{{ path('base_materiel_fabricant_editer', {'slug': fabricant.slug}) }}">
                                                    Editer
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="{{ path('base_materiel_fabricant_supprimer', {'slug': fabricant.slug}) }}">
                                                    Supprimer
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="3">
                                                Aucun fabricant référencé dans la base.
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
