{# templates/sauvegarde/form.html.twig #}
{{ form_start(form, { 'attr': { 'class': 'form-horizontal bordered-group'} }) }}
    <div class="form-group">
        {{ form_label(form.dateHeureSauvegarde, null, { 'label_attr': { 'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.dateHeureSauvegarde) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.auteur, null, { 'label_attr': { 'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.auteur, { 'attr': { 'class': 'form-control' } }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.methodeSauvegarde, null, { 'label_attr': { 'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.methodeSauvegarde, { 'attr': { 'class': 'form-control' } }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.supportSauvegarde, null, { 'label_attr': { 'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.supportSauvegarde, { 'attr': { 'class': 'form-control' } }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.cheminVersFichier, null, { 'label_attr': { 'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.cheminVersFichier, { 'attr': { 'class': 'form-control' } }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.nomFichierSauvegarde, null, { 'label_attr': { 'class': 'col-sm-4 control-label'} }) }}
        <div class="col-sm-8">
            {{ form_widget(form.nomFichierSauvegarde, { 'attr': { 'class': 'form-control' } }) }}
        </div>
    </div>
    <div class="btn-group pull-right">
        <input class="btn btn-success" type="submit" value="Enregistrer" />
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
