{# templates/type_materiel/supprimer.html.twig #}
{% set title = 'Supprimer un type de matériel' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <p>
                                Etes-vous certain de vouloir supprimer le type de matériel <strong>{{ typeMateriel.libelle }}</strong> ?
                            </p>
                            <form action="{{ path('base_materiel_type_materiel_supprimer', { 'id': typeMateriel.id }) }}" method="post">
                                <a href="{{ path('base_materiel_types_materiel') }}" class="btn btn-default">
                                    <i class="fa fa-caret-left"></i>
                                    Retour
                                </a>
                                <input type="submit" value="Supprimer" class="btn btn-danger" />
                                {{ form_rest(form) }}
                            </form>
                        </div>
                    </div>
{% endblock %}
