{# templates/type_materiel/types_materiel.html.twig #}
{% set title = 'Types de matériel référencés' %}

{% extends 'layout.html.twig' %}

{% block title %}{{ title }} &middot; {{ parent() }}{% endblock %}

{% block body %}
                    <div class="panel mb0">
                        <div class="panel-heading border">
                            {{ title }}
                        </div>
                        <div class="panel-body">
                            <div class="row mb20">
                                <div class="col-sm-6">
                                    <div class="toolbar">
                                        <a class="btn btn-success" href="{{ path('base_materiel_type_materiel_ajouter') }}">
                                            <i class="fa fa-plus mr10"></i>
                                            Ajouter un type de matériel
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb0">
                                    <thead>
                                    <tr>
                                        <th>Type de matériel</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
{% for typeMateriel in typesMateriel %}
                                        <tr>
                                            <td>{{ typeMateriel.libelle }}</td>
                                            <td>
                                                <a class="btn btn-sm btn-primary" href="{{ path('base_materiel_type_materiel_editer', { 'id': typeMateriel.id }) }}">
                                                    Editer
                                                </a>
                                                <a class="btn btn-sm btn-danger" href="{{ path('base_materiel_type_materiel_supprimer', { 'id': typeMateriel.id }) }}">
                                                    Supprimer
                                                </a>
                                            </td>
                                        </tr>
{% else %}
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                Aucun type de matériel référencé dans la base.
                                            </td>
                                        </tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
